.slider-container{
    color: white;
    overflow-x: hidden;
    height: 100%;
}
.ul-container{
    list-style-type: none;
    display: flex;
    /* margin: 2% 7% 0% 7%; */
    /* padding-left: 20%; */
    /* padding-right: 10%; */
    width: 100%;
    overflow-x: hidden;
}